@import "./variables.scss";
.title{
    overflow: hidden; 
    width: 100%;
    max-width: 100vw;
    height: 100px;
    margin: 0 auto;
    top: 0;
    background-color: $qrblue; 
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 1px dashed $qrpurple;
    overflow: hidden;
    @media(max-width: 500px){
        padding: 0 10px;
        padding-left: 0;
        height: 60px;
    }
    h1{
        color: $white;
        text-shadow: 4px 4px 5px $qrpurple;
        font-weight: $bold;
        margin: 0 auto;
        font-family: $Helvetica-Heavy;
        font-size: $x-large;
        @media(max-width: 500px){
            font-size: $small;
            margin-right: 0;
        }
    }
    i{
        cursor: pointer;
        text-shadow: 2px 2px 5px $qrpurple;
        color: $white;
        margin: 0 auto;
        margin-right: 20px;
        margin-left: 0;
        position: relative;
        @media(max-width: 500px){
            margin: 0 auto; 
            margin-right: 10px;
        }
    }
}
::-webkit-scrollbar{
    display: none;
}